header {
  background-color: #f16445;
  font-family: 'Barrio', cursive;
}

.header-container {
  padding: 20px;
  display: flex;
  align-items: center;
}

.header-title {
  flex: 1;
  font-size: 30px;
}

.desktop-menu-block {
  display: none;
}

@media screen and (min-width: 750px) {
  .header-container {
    padding: 20px 32px;
  }

  .desktop-menu-block {
    display: flex;

    a {
      padding: 0px 8px;
    }
  }
}