@import 'header';
@import 'footer';
@import 'tile';
@import 'spinner';

body {
  margin: 0;
  background: #2f2d2e;
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: #2f2d2e;
  text-decoration: none;
}

.coming-soon-container {
  text-align: center;
  color: #f16445;
}